@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ProximaSoft";
  src: url("/fonts/ProximaSoft-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaSoft";
  src: url("/fonts/ProximaSoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ProximaSoft";
  src: url("/fonts/ProximaSoft-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  font-family: "ProximaSoft", sans-serif;
  font-size: 16px;
  vertical-align: baseline;
  line-height: 1.6;
  overflow-x: hidden;
  letter-spacing: 0.025em;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.animation-delay-500 {
  animation-delay: 500ms;
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}

.animation-delay-1100 {
  animation-delay: 1100ms;
}

.animation-delay-1250 {
  animation-delay: 1250ms;
}

.animation-delay-1350 {
  animation-delay: 1350ms;
}

/* Add custom styles for glass effect */
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
